html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  .bloco {
    float: left;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    width: 128px;
    height: 128px;
    background-color: brown;
    background-size: calc(100% - 10px);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .draggable {
    position: relative;
    top: 0px;
    left: 0px;
    transition: transform 0.3s linear z-index 0.3 linear;
    z-index: 0;
  }
  
  .dragging {
    transform: scale(1.1);
    z-index: 999;
  }

  .azul{
    background-color: aquamarine;
  }

  .amarelo{
    background-color: darkgoldenrod;
  }

  .inicio {
    background-color: black;
    border-radius: 50%;
    border-color: lightgreen;
    border-style: solid;
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  .fim {
    background-color: black;
    border-radius: 50%;
    border-color: crimson;
    border-style: solid;
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  .entrada {
    background-color: black;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 50% 10% 50% 10%;
    width: 120px;
    height: 80px;
  }


  .saida {
    position: relative;
    width: 100px;
    height: 75px;
    margin: 10px 0;
    background: black;
    border-color: black;
    border-width: 3px;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
  }
  .saida:before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
  }

  .decisao {
    background-color: black;
    border-width: 3px;
    border-style: solid;
    border-color:  black red green black;
    transform: rotate(45deg);
    width: 75px;
    height: 75px;
  }

  .processamento {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: black transparent;
  }
  .processamento:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent black;
  }

  .ligacao{
    position: absolute;
    position:absolute;
    width:1px;
    background-color:red;
  }
  

