html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  .bloco {
    float: left;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    width: 128px;
    height: 128px;
    background-color: brown;
    background-size: calc(100% - 10px);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .draggable {
    position: relative;
    top: 0px;
    left: 0px;
    transition: transform 0.3s linear z-index 0.3 linear;
    z-index: 0;
  }
  
  .dragging {
    transform: scale(1.1);
    z-index: 999;
  }

  .azul{
    background-color: aquamarine;
  }

  .amarelo{
    background-color: darkgoldenrod;
  }

  .inicio {
    background-color: transparent;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  .fim {
    background-color: black;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  .entrada {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 50% 10% 50% 10%;
    width: 120px;
    height: 80px;
  }

  .decisao {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    transform: rotate(45deg);
    width: 80px;
    height: 80px;
  }

  .processamento {
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    width: 120px;
    height: 80px;
  }

  

